.chart-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.chart-container header{
    display: flex;
    align-items: center;
}

.chart-container header span{
    font-size: 20px;
    margin-left: 24px;
}

.chart-container header img{
    height: 84px;
}

.chart-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.chart-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.chart-container header button:hover{
    border-color: #999;
}

.chart-container h1{
    margin-top: 80px;
    margin-bottom: 24px;
}

.chart-container ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 38px;
    
    list-style: none;
}
.chart-container ul li{

    background: #FFF;
    padding: 24px;
    
    border-radius: 8px;
    position: relative;
}

.chart-container ul li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
}

.chart-container ul li button:hover{
    opacity: 0.8;
}


.chart-container ul li strong{
    display: block;
    margin-bottom: 16px;
    color: #41414d;   
}

.chart-container ul li p + strong{
    margin-top: 32px;
}

.chart-container ul li p{
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.button{
    width: 100%;
    height: 60px;
    background: rgb(36, 49, 95);
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.buttonFinalizar{
    width: 30%;
    margin-left: 800px;
    height: 60px;
    background: #59A52C;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700; 
    
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.btnFi{
    background: white;
    margin-bottom: -6px;
}

.descricaoPedidoUl{
    
    
    padding-right: 400px;
    grid-gap: 12px;
    list-style: none;


}

.descricaoPedidoLi{
    
    background: #FFF;

}